*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
.heading-primary {
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    display: block;
    animation: moveLeft 1s ease-in-out; }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.75rem;
    font-size: 2rem;
    font-weight: 700;
    animation: moveRight 1s ease-in-out; }

.section-about {
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: #f7f7f7; }
  .section-about .heading-secondary {
    font-size: 3.2rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s; }
    .section-about .heading-secondary:hover {
      transform: scale(1.05); }
  .section-about .section-content {
    margin-top: 14rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-about .section-content__data {
      padding-right: 1.3rem; }
      .section-about .section-content__data h3 {
        font-weight: 600; }
      .section-about .section-content__data .about-btn {
        color: #55c57a; }
      .section-about .section-content__data .about-btn {
        margin-top: 4rem;
        border: none;
        padding: 1rem;
        background-color: transparent; }
    .section-about .section-content__img {
      position: relative;
      width: 43rem;
      display: flex;
      height: 200px; }
      .section-about .section-content__img img {
        width: 55%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
      .section-about .section-content__img .pic-1 {
        top: 9rem;
        transition: all 0.2s; }
        .section-about .section-content__img .pic-1:hover {
          z-index: 1;
          transform: scale(1.1); }
      .section-about .section-content__img .pic-2 {
        transition: all 0.2s;
        left: 9rem; }
        .section-about .section-content__img .pic-2:hover {
          z-index: 1;
          transform: scale(1.1); }
      .section-about .section-content__img .pic-3 {
        transition: all 0.2s;
        left: 17rem;
        top: 7rem; }
        .section-about .section-content__img .pic-3:hover {
          z-index: 1;
          transform: scale(1.1); }

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.753), rgba(40, 180, 133, 0.753)), url(/img/nat-1-large.jpg);
  background-position: center;
  background-size: cover; }
  .section-features .card-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .section-features .card {
    padding: 1rem;
    background-color: #f7f7f7;
    width: 20rem;
    border-radius: 4px;
    padding: 2rem 0;
    transition: all 0.3s; }
    .section-features .card__head {
      font-size: 4.2rem;
      font-weight: 700;
      color: #333333;
      margin-bottom: .5rem; }
    .section-features .card__heading-text {
      color: #000000;
      font-size: 1.7rem;
      margin-bottom: 1rem; }
    .section-features .card p {
      font-size: 1.3rem;
      color: #255d1b; }
    .section-features .card:hover {
      transform: scale(1.2);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
      cursor: pointer; }

.u-text-center {
  text-align: center; }

.u-heading-3 {
  font-size: 2rem; }

.u-paragraph-2 {
  font-size: 1.5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem; }
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.btn--white {
  background-color: #fff;
  color: #777;
  font-weight: 500; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.753), rgba(40, 180, 133, 0.753)), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/*# sourceMappingURL=main.css.map */
